/* **********************************************************************************************************************
 _______  _______  _______        _______ _________          _______ _________ ______
(  ____ \(  ___  )(  ____ )      (  ____ \\__   __/|\     /|(  ____ )\__   __/(  __  \
| (    \/| (   ) || (    )|      | (    \/   ) (   | )   ( || (    )|   ) (   | (  \  )
| (__    | |   | || (____)|      | (_____    | |   | |   | || (____)|   | |   | |   ) |
|  __)   | |   | ||     __)      (_____  )   | |   | |   | ||  _____)   | |   | |   | |
| (      | |   | || (\ (               ) |   | |   | |   | || (         | |   | |   ) |
| )      | (___) || ) \ \__      /\____) |   | |   | (___) || )      ___) (___| (__/  )
|/       (_______)|/   \__/      \_______)   )_(   (_______)|/       \_______/(______/

 _______  _        ______         ______   _______  _______ _________ _               ______   _______  _______  ______
(  ___  )( (    /|(  __  \       (  ___ \ (  ____ )(  ___  )\__   __/( (    /|       (  __  \ (  ____ \(  ___  )(  __  \
| (   ) ||  \  ( || (  \  )      | (   ) )| (    )|| (   ) |   ) (   |  \  ( |       | (  \  )| (    \/| (   ) || (  \  )
| (___) ||   \ | || |   ) |      | (__/ / | (____)|| (___) |   | |   |   \ | | _____ | |   ) || (__    | (___) || |   ) |
|  ___  || (\ \) || |   | |      |  __ (  |     __)|  ___  |   | |   | (\ \) |(_____)| |   | ||  __)   |  ___  || |   | |
| (   ) || | \   || |   ) |      | (  \ \ | (\ (   | (   ) |   | |   | | \   |       | |   ) || (      | (   ) || |   ) |
| )   ( || )  \  || (__/  )      | )___) )| ) \ \__| )   ( |___) (___| )  \  |       | (__/  )| (____/\| )   ( || (__/  )
|/     \||/    )_)(______/       |/ \___/ |/   \__/|/     \|\_______/|/    )_)       (______/ (_______/|/     \|(______/

 _       _________ _       _________ _______  _______  _______                            _
( \      \__   __/( (    /|\__   __/(  ____ \(  ____ )(  ____ \                          / )
| (         ) (   |  \  ( |   ) (   | (    \/| (    )|| (    \/                _        / /
| |         | |   |   \ | |   | |   | (__    | (____)|| (_____                (_)_____ ( (
| |         | |   | (\ \) |   | |   |  __)   |     __)(_____  )                 (_____)| |
| |         | |   | | \   |   | |   | (      | (\ (         ) |                _       ( (
| (____/\___) (___| )  \  |   | |   | (____/\| ) \ \__/\____) | _  _  _       (_)       \ \
(_______/\_______/|/    )_)   )_(   (_______/|/   \__/\_______)(_)(_)(_)                 \_)

************************************************************************************************************************/

html {
  background-color: #efebe7;
  color: #000;			/* #000000 */
}

html:lang(for-stupid-linters) {
  display: none;
}

title {
  color: blue;
  background-color: #00f;	/* #0000ff */
}

body {
  color: #55f;			/* #5555ff */
  background-color: #efebe7;	/* #efebe7 */
}

h1 {
  color: white;
  background-color: #00f;	/* #0000ff */
}

h2 {
  color: #50f;			/* #5500ff */
}

p {
  color: #03040f;
}
