/* **********************************************************************************************************************
 _______  _______  _______        _______ _________          _______ _________ ______
(  ____ \(  ___  )(  ____ )      (  ____ \\__   __/|\     /|(  ____ )\__   __/(  __  \
| (    \/| (   ) || (    )|      | (    \/   ) (   | )   ( || (    )|   ) (   | (  \  )
| (__    | |   | || (____)|      | (_____    | |   | |   | || (____)|   | |   | |   ) |
|  __)   | |   | ||     __)      (_____  )   | |   | |   | ||  _____)   | |   | |   | |
| (      | |   | || (\ (               ) |   | |   | |   | || (         | |   | |   ) |
| )      | (___) || ) \ \__      /\____) |   | |   | (___) || )      ___) (___| (__/  )
|/       (_______)|/   \__/      \_______)   )_(   (_______)|/       \_______/(______/

 _______  _        ______         ______   _______  _______ _________ _               ______   _______  _______  ______
(  ___  )( (    /|(  __  \       (  ___ \ (  ____ )(  ___  )\__   __/( (    /|       (  __  \ (  ____ \(  ___  )(  __  \
| (   ) ||  \  ( || (  \  )      | (   ) )| (    )|| (   ) |   ) (   |  \  ( |       | (  \  )| (    \/| (   ) || (  \  )
| (___) ||   \ | || |   ) |      | (__/ / | (____)|| (___) |   | |   |   \ | | _____ | |   ) || (__    | (___) || |   ) |
|  ___  || (\ \) || |   | |      |  __ (  |     __)|  ___  |   | |   | (\ \) |(_____)| |   | ||  __)   |  ___  || |   | |
| (   ) || | \   || |   ) |      | (  \ \ | (\ (   | (   ) |   | |   | | \   |       | |   ) || (      | (   ) || |   ) |
| )   ( || )  \  || (__/  )      | )___) )| ) \ \__| )   ( |___) (___| )  \  |       | (__/  )| (____/\| )   ( || (__/  )
|/     \||/    )_)(______/       |/ \___/ |/   \__/|/     \|\_______/|/    )_)       (______/ (_______/|/     \|(______/

 _       _________ _       _________ _______  _______  _______                            _
( \      \__   __/( (    /|\__   __/(  ____ \(  ____ )(  ____ \                          / )
| (         ) (   |  \  ( |   ) (   | (    \/| (    )|| (    \/                _        / /
| |         | |   |   \ | |   | |   | (__    | (____)|| (_____                (_)_____ ( (
| |         | |   | (\ \) |   | |   |  __)   |     __)(_____  )                 (_____)| |
| |         | |   | | \   |   | |   | (      | (\ (         ) |                _       ( (
| (____/\___) (___| )  \  |   | |   | (____/\| ) \ \__/\____) | _  _  _       (_)       \ \
(_______/\_______/|/    )_)   )_(   (_______/|/   \__/\_______)(_)(_)(_)                 \_)

************************************************************************************************************************/

html {
  color: white;
  background-color: blue;
}

html:lang(for-stupid-linters) {
  display: none;
}

/* HTML page global LINK colors */
html:link {
  color: gray;
}

html:hover {
  color: green;
}

html:active {
  color: red;
}

html:visited {
  color: magenta;
}

title {
  color: blue;
  background-color: #00f;	/* #0000ff */
}

body {
  color: white;
  background-color: #80ffff;	/* #00ffff */
}

h1 {
  color: white;
  /* background-color: #00f;	/* #0000ff */
}

p {
  color: white;
  /* background-color: #00f;	/* #0000ff */
}

/* **********************
 * Compound HTML elements
 * **********************/

nav > ul > li {
  display: inline-block;
  background-color: silver;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 10px;
}

div.main_body {
  color: hsl( 240, 100,100 );
}

/* *******************
 * CSS CLASS selectors
 * *******************/

.header {
  background-color: darkgray;
  color: white;
}

.nav-menu {
  background-color: darkslategray;
  color: white;
}

.main_body {
  background-color: white;
  color: darkblue;
}

.footer {
  background-color: black;
  color: #d3d3d3;		/* lightgray */
}

.list-no-bullets {
  list-style-type: none;
}

.body-text {
  color: darkgray;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* HEADER section link attributes */
.header-link-style {
  color: white;
}

.header-link-style:link {
  color: gray;
}

.header-link-style:hover {
  color: green;
}

.header-link-style:active {
  color: red;
}

.header-link-style:visited {
  color: magenta;
}

/* MENU section link attributes */
.nav-link-style {
  color: white;
}

.nav-link-style:link {
  color: gray;
}

.nav-link-style:hover {
  color: green;
}

.nav-link-style:active {
  color: red;
}

.nav-link-style:visited {
  color: magenta;
}

/* BODY section link attributes */
.body-link-style {
  color: white;
}

.body-link-style:link {
  color: gray;
}

.body-link-style:hover {
  color: green;
}

.body-link-style:active {
  color: red;
}

.body-link.style:visited {
  color: magenta;
}

/* FOOTER section link attributes */
.footer-link-style {
  color: white;
}

.footer-link-style:link {
  color: gray;
}

.footer-link-style:hover {
  color: green;
}

.footer-link-style:active {
  color: red;
}

.footer-link-style:visited {
  color: magenta;
}

/* ************************************
 * CSS CLASS selectors for DISPLAY mode
 * ************************************/

.flex-box {
  display: flex;
}

.block-box {
  display: block;
}

.inline-block-box {
  display: inline-block;
}

.invisible-box {
  display: none;
}
