html:lang(for-stupid-linters) {
    display: none ;
}


title {
    color: blue ;
    background-color: #0000ff ;
}

body {
    color: yellow ;
    background-color: #00ffff ;
}

h1 {
    color: white ;
    background-color: #0000ff ; 
}

p {
    color: white ;
    background-color: #0000ff ;
}
